<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Map Python handler -->
            <add name="PythonHandler" path="*"
                verb="*" modules="IsapiModule" scriptProcessor="D:\home\python362x64\python.exe|D:\home\site\wwwroot\app.py"
                resourceType="Unspecified" />
        </handlers>

        <!-- Enable dynamic content -->
        <staticContent>
            <mimeMap fileExtension=".py" mimeType="text/plain" />
        </staticContent>

        <!-- Redirect all requests to the Flask app (WSGI server) -->
        <rewrite>
            <rules>
                <rule name="FlaskApp" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="wsgi.py" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
